@import "normalize.css";
@import "typography.css";
@import "colors.css";

:root {
  color-scheme: light dark;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}