.home {
  min-height: 100vh;
  width: 100%;

  background: #5b5b69;
}

.content {
  background: rgb(30, 30, 39);
  color: #fff;
  padding: 20px;
}

.digital-rain {
  width: 100%;
  height: 100vh;

  /* display: flex; */

  background: #000;
}
