.view {
  height: 100vh;
  background: rgb(0 0 0);

  position: relative;
}

.view .sky{

  /* position: absolute;
  inset: 0; */
}


.view .person {
  background: url('../assets/hacker.svg') no-repeat center center;
  background-size: contain;
  position: absolute;

  /* dropshadow */
  filter: drop-shadow(0px 0px 10px rgba(14, 179, 42, 0.1));

  /* mix-blend-mode: multiply; */

  left: 50%;
  right: 0;
  bottom: 50px;

  transform: translateX(-50%);

  height: 40vh;

  z-index: 2;
}
.view .table {
  position: absolute;

  left: 50%;
  right: 0;
  bottom: 0;
  
  transform: translateX(-50%);

  height: 50vh;

  z-index: 3;
}

.shower1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  opacity: 0.3;
  z-index: 1;
}

.shower2 {
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;

  z-index: 2;
}